/* Write your styles */

html,
body {
    background: #e9ecf3;
    overflow: inherit;
}
.dashboard-stat.purple .details .add {
    padding-top: 25px;
    text-align: right;
    font-size: 50px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
    color: #fff;
}
.new_add{
    font-size: 18px;
    font-weight: 600;
}
.user01{
    float: left;
    margin: 20px 0px 18px 30px;
    border-radius: 6px;
}
.user_name{
    width: 60%;
    margin-top: 20px;
    float: left;
    margin-left: 20px; 
    font-size: 16px;
    line-height: 26px;
}
.user_name p{
    margin-left: 3%;
}
.author_pics{
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}
/*all_comment.html页面*/
.table-comment{
    width: 32%;}
.table-name{ 
width:110px;}
.table-sets{ 
width: 120px;}
/*all_users.html*/
.user-names{
    width:150px;
}
/*图集添加页面*/
.pagelet-figure-gallery-item{
/*    line-height: 78px;*/
    padding: 22px 0;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fafafa;
    position: relative;
    overflow: hidden;
}
.gallery-img{
    position: relative;
/*    width: 102px;
    height: 78px;*/
    overflow: hidden;
    float:left;
}
.gallery-img img{
    width: 100%;
    height: 100%;    
}
.gallery-txt {
/*    width: 570px;
    margin-left: 22px;
    height: 78px;*/
    float:left;
}
.gallery-txt textarea {
    padding: 8px 10px;
    width: 100%;
    height: 100%;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    resize: none;
    overflow: hidden;

}
.gallery-action {
/*    width: 105px;
    height: 78px;
    margin-left: 10px;*/
    float:left;
}
.gallery-icon {
    color: #898989;
    width: 24px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    line-height: 1em;
    position: relative;
    cursor: pointer;
}
